/*----------FIRST SECTION----------*/
.first
	display: flex
	flex-direction: column
	padding: 2rem
	.especialities 
		display: flex
		justify-content: space-around
		a
			img 
				width: 99%
			h4 
				font-size: 0.8em
				text-align: center