/*----------FIRST SECTION----------*/
.special
	grid-column: 2/6
	grid-row: 3/4
	.specialities 
		display: flex
		justify-content: space-around
		a
			img 
				width: 99%
			h4 
				font-size: 0.8em
				text-align: center