/*------Footer--------*/
footer
    .img
        display: flex
        justify-content: center
        align-items: center
        img
            width: 50%
        

    .chatBot
        z-index: 1100
