/*-------------HEADER-------------*/
.logos 
	text-align: center
	font-family: $font
	margin: auto
	padding: auto
	#logo 
		font: 
			weight: bold
			size: 3.2em
	#eslogan 
		font-size: 1em
		color: grey

table 
	margin: auto
	padding: auto
	tr 
		display: inline-table
		margin: 
			left: 7px
			top: 5%
		color: grey
		th 
			border-right: 1px dashed grey
			padding: 
				bottom: auto
				right: 2%
		td
			padding :
				left: 2%
				top: 5%

.social 
	width: 180px
	height: auto
	margin: 20px auto
	padding: auto
	a 
		margin-right: 2%
		img 
			width: 18%
			height: 18%