/*-------------HEADER-------------*/
header
	background-color: #000000
	width: 100%
	.logos 
		text-align: center
		font-family: $font
		padding: auto
		float: left
		#logo 
			margin-top: 5px
			color: #e9e8e8f2
			font: 
				weight: bold
				size: 3em
		#eslogan 
			margin-top: 5px
			font-size: 1em
			color: #e9e8e8f2
	.botonMenu
		float: right
		z-index: 1100
		
	nav
		background-color: #000000e3
		z-index: 1000
		width: 75%
		height: 100%
		position: fixed
		display: block
		.menu
			display: block
			width: 100%
			position: relative
			list-style: none
			text-decoration: none
			z-index: 1100
			li
				float: left
				display: block
				border-bottom: 1px solid rgba(255,255,255,.5)
				overflow: hidden
				position: relative
				&:hover
					.children
						display: block
						position: absolute
						z-index: 1000
						background-color: #000000e3
				ul
					display: none
				a
					color: #fff
					padding: 10px
					display: block
					text-decoration: none
					position: relative
					text-align: center
					&:hover
						background-color: #dbdadaf3
	