/*----------JUMBOTRON----------*/
.jumbotron
	background-color: #e9e8e8f2
	overflow-x: hidden
	.titles 
			+titles($font, bold, 1%, 1px dashed black, 25px)
	.education 
		margin-left: 15px

	.slider-wrapper
		width: 95%
		margin-left: 15px