/*----------JUMBOTRON----------*/
.jumbotron
	overflow-x: hidden
	.education 
		margin-left: 15px
		.titles 
			+titles($font, bold, 1%, 1px dashed black, 25px)

	.slider-wrapper
		width: 95%
		margin-left: 15px