/*----------JUMBOTRON----------*/
.jumbotron
	background-color: #e9e8e8f2
	display: grid
	grid-template-rows: 1fr 1fr
	grid-gap: 1rem
	padding: 10.5rem 0 1rem 0
	+tablet()
		grid-template-rows: unset
		grid-template-columns: 2fr 1fr
		padding: 6.5rem 0 1rem 0
		grid-gap: 1rem
	.slider-wrapper
		display: flex
		justify-content: center
		.nivoSlider
			margin: 0.5rem
	.titles 
		+titles($font, bold, 1%, 1px dashed black, 25px)

	
		