/*----------SECOND SECTION----------*/
#experience 
	.titles 
		+titles($font, bold, 3px, 1px dashed black, 25px)
	ul 
		.inline 
			display: inline-block
		li 
			margin-left: 28px
			h1 
				font-size: 6em
			p 
				padding-top: 30px
				margin-left: 5px
#portfolio
	.titles 
		+titles($font, bold, 3px, 1px dashed black, 25px)
	.port 
		padding: 20px
		a 
			margin: 15px
			display: inline-block
			img 
				width: 64px
				height: 64px