/*--------variables--------*/
$font: 'Roboto', 'Open Sans', sans-serif
$colorPrimario: AliceBlue
$colorSecundario: DarkRed
$colorTerciario: #971726e8
$telefono: 350px
$tablet: 768px
$desktop: 1024px

/*--------mixing--------*/
=titles($font-f, $font-w, $padding-b, $border-b, $margin-b, $color)
	font:
		family: $font-f
		weight: $font-w
	padding-bottom: $padding-b
	border-bottom: $border-b
	margin-bottom: $margin-b
	color: $color

=telefono
	@media only screen and (min-width: #{$telefono})
		@content
	
=tablet
	@media only screen and (min-width: #{$tablet})
		@content
		
=desktop
	@media only screen and (min-width: #{$desktop})
		@content
		