/*--------variables--------*/
/*--------mixing--------*/
/*-------------HEADER-------------*/
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  z-index: 100;
  width: 100%;
}

body header .container .logos {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", "Open Sans", sans-serif;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  body header .container .logos {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

body header .container .logos .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .container .logos .logo #logo {
  font: 3.5rem bold;
  color: AliceBlue;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 auto;
}

body header .container .logos .logo #eslogan {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: AliceBlue;
  font: 200;
  margin: 0 auto;
}

body header .container .logos button {
  background-color: SeaShell;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0 auto;
}

body header .container .lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 1rem;
  margin: 0;
  padding: 0 1.5rem;
  background-color: #000000de;
}

body header .container .lista ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body header .container .lista ul li {
  margin: 1rem 0;
}

body header .container .lista ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid #ffffff9f;
}

body header .container .lista ul li .sub-mn {
  display: none;
}

/*----------FIRST SECTION----------*/
.first {
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .first {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.first .personal {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

.first .personal .parra {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px;
  text-align: center;
}

.first .especialidad {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

.first .especialidad .especialities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.first .especialidad .especialities a img {
  width: 99%;
}

.first .especialidad .especialities a h4 {
  font-size: 0.8em;
  text-align: center;
}

.first .titles {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-weight: bold;
  padding-bottom: 1%;
  border-bottom: 1px dashed black;
  margin-bottom: 25px;
}

/*----------JUMBOTRON----------*/
.jumbotron {
  background-color: #e9e8e8f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .jumbotron {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
}

.jumbotron .slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
}

.jumbotron .slider-wrapper .nivoSlider {
  margin-top: 5.5rem;
  margin-left: 1rem;
}

@media only screen and (min-width: 768px) {
  .jumbotron .education {
    padding-top: 5.5rem;
    padding: 5.5rem 0 0 1rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.jumbotron .titles {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-weight: bold;
  padding-bottom: 1%;
  border-bottom: 1px dashed black;
  margin-bottom: 25px;
}

/*----------SECOND SECTION----------*/
#experience .titles {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: 1px dashed black;
  margin-bottom: 25px;
}

#experience ul .inline {
  display: inline-block;
}

#experience ul li {
  margin-left: 28px;
}

#experience ul li h1 {
  font-size: 6em;
}

#experience ul li p {
  padding-top: 30px;
  margin-left: 5px;
}

#portfolio .titles {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: 1px dashed black;
  margin-bottom: 25px;
}

#portfolio .port {
  padding: 20px;
}

#portfolio .port a {
  margin: 15px;
  display: inline-block;
}

#portfolio .port a img {
  width: 64px;
  height: 64px;
}

/*------Footer--------*/
footer .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .img img {
  width: 50%;
}

footer .chatBot {
  z-index: 1100;
}
/*# sourceMappingURL=main.css.map */