/*--------variables--------*/
/*--------mixing--------*/
/*-------------HEADER-------------*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body header {
  position: fixed;
  z-index: 100;
  width: 100%;
}

body header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #000000;
}

body header .container .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Roboto", "Open Sans", sans-serif;
}

body header .container .logos .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: AliceBlue;
}

body header .container .logos .logo #logo {
  font: 3.5rem bold;
  margin: 0 auto;
}

body header .container .logos .logo #eslogan {
  font: 200;
  margin: 0 auto;
}

body header .container .btn-menu {
  background-color: #4356ff;
  margin: 1rem 0;
  height: 3rem;
  width: 3rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
  border: none;
  border-radius: 100%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media only screen and (min-width: 768px) {
  body header .container .btn-menu:hover {
    background-color: #002fc9;
  }
}

@media only screen and (min-width: 768px) {
  body header .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: .5rem 2rem;
  }
}

body header .lista {
  margin-top: -100%;
}

body header .mostrar {
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 1rem;
  width: 25%;
  margin: 0 0 0 auto;
  padding: 0 1.5rem;
  background-color: #000000de;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

body header .mostrar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body header .mostrar ul li {
  margin: 1rem 0;
}

body header .mostrar ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-decoration: none;
  padding-bottom: .5rem;
  border-bottom: 1px solid #ffffff9f;
}

body header .mostrar ul li a:hover {
  color: #4d78ec;
}

body header .mostrar ul li .sub-mn {
  display: none;
}

/*----------FIRST SECTION----------*/
.first {
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .first {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.first .personal {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

.first .personal .parra {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px;
  text-align: center;
}

.first .especialidad {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
}

.first .especialidad .especialities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.first .especialidad .especialities a img {
  width: 99%;
}

.first .especialidad .especialities a h4 {
  font-size: 0.8em;
  text-align: center;
}

.first .titles {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-weight: bold;
  padding-bottom: 1%;
  border-bottom: 1px dashed black;
  margin-bottom: 25px;
}

/*----------JUMBOTRON----------*/
.jumbotron {
  background-color: #e9e8e8f2;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  padding: 10.5rem 0 1rem 0;
}

@media only screen and (min-width: 768px) {
  .jumbotron {
    -ms-grid-rows: unset;
        grid-template-rows: unset;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    padding: 6.5rem 0 1rem 0;
    grid-gap: 1rem;
  }
}

.jumbotron .slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jumbotron .slider-wrapper .nivoSlider {
  margin: 0.5rem;
}

.jumbotron .titles {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-weight: bold;
  padding-bottom: 1%;
  border-bottom: 1px dashed black;
  margin-bottom: 25px;
}

/*----------SECOND SECTION----------*/
#experience .titles {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: 1px dashed black;
  margin-bottom: 25px;
}

#experience ul .inline {
  display: inline-block;
}

#experience ul li {
  margin-left: 28px;
}

#experience ul li h1 {
  font-size: 6em;
}

#experience ul li p {
  padding-top: 30px;
  margin-left: 5px;
}

#portfolio .titles {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: 1px dashed black;
  margin-bottom: 25px;
}

#portfolio .port {
  padding: 20px;
}

#portfolio .port a {
  margin: 15px;
  display: inline-block;
}

#portfolio .port a img {
  width: 64px;
  height: 64px;
}

/*------Footer--------*/
footer .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .img img {
  width: 50%;
}

footer .chatBot {
  z-index: 1100;
}
/*# sourceMappingURL=main.css.map */