/*--------variables--------*/
/*--------mixing--------*/
/*-------------HEADER-------------*/
header {
  background-color: #000000;
  width: 100%;
}

header .logos {
  text-align: center;
  font-family: "Roboto", "Open Sans", sans-serif;
  padding: auto;
  float: left;
}

header .logos #logo {
  margin-top: 5px;
  color: #e9e8e8f2;
  font-weight: bold;
  font-size: 3em;
}

header .logos #eslogan {
  margin-top: 5px;
  font-size: 1em;
  color: #e9e8e8f2;
}

#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#menu .botonMenu {
  z-index: 1100;
}

#menu .botonMenu .btn-menu {
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#menu menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000000e3;
  width: 25%;
  height: 75%;
  position: fixed;
  z-index: 1000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

#menu menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#menu menu .menu .lista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  text-decoration: none;
  padding: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

#menu menu .menu .lista li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 1rem;
}

#menu menu .menu .lista li:hover .listachildren {
  display: block;
  position: absolute;
  background-color: #000000e3;
}

#menu menu .menu .lista li ul {
  display: none;
}

#menu menu .menu .lista li a {
  color: #fff;
  padding: 10px;
  display: block;
  text-decoration: none;
  text-align: center;
}

#menu menu .menu .lista li a:hover {
  background-color: #dbdadaf3;
}

/*----------FIRST SECTION----------*/
.especialidad {
  background-color: #000000;
}

.especialidad .titles {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-weight: bold;
  padding-bottom: 1%;
  border-bottom: 1px dashed black;
  margin-bottom: 25px;
}

.especialidad .especialities {
  width: 90%;
  margin: auto;
}

.especialidad .especialities a {
  display: inline-block;
  position: relative;
  width: 30%;
  margin-left: 50px;
}

.especialidad .especialities a img {
  width: 99%;
}

.especialidad .especialities a h4 {
  font-size: 0.8em;
  text-align: center;
}

.especialidad .especialities .img-z1 {
  z-index: 1;
  bottom: 10px;
  left: 20px;
  top: 0px;
}

.especialidad .especialities .img-z3 {
  z-index: 1;
  bottom: 10px;
  right: 20px;
  top: 0px;
}

.personal {
  background-color: #000000;
}

.personal .first {
  margin-top: 10%;
}

.personal .first .parra {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 20px;
  text-align: center;
}

/*----------JUMBOTRON----------*/
.jumbotron {
  background-color: #e9e8e8f2;
  overflow-x: hidden;
}

.jumbotron .titles {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-weight: bold;
  padding-bottom: 1%;
  border-bottom: 1px dashed black;
  margin-bottom: 25px;
}

.jumbotron .education {
  margin-left: 15px;
}

.jumbotron .slider-wrapper {
  width: 95%;
  margin-left: 15px;
}

/*----------SECOND SECTION----------*/
#experience .titles {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: 1px dashed black;
  margin-bottom: 25px;
}

#experience ul .inline {
  display: inline-block;
}

#experience ul li {
  margin-left: 28px;
}

#experience ul li h1 {
  font-size: 6em;
}

#experience ul li p {
  padding-top: 30px;
  margin-left: 5px;
}

#portfolio .titles {
  font-family: "Roboto", "Open Sans", sans-serif;
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: 1px dashed black;
  margin-bottom: 25px;
}

#portfolio .port {
  padding: 20px;
}

#portfolio .port a {
  margin: 15px;
  display: inline-block;
}

#portfolio .port a img {
  width: 64px;
  height: 64px;
}

/*------Footer--------*/
footer .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .img img {
  width: 50%;
}

footer .chatBot {
  z-index: 1100;
}
/*# sourceMappingURL=main.css.map */