---
---

		<aside >
			<div >
				<p>My order</p>
			</div>
			<div >
			<table>
        <thead>
          <tr>
            <th>Symb</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
			</div>
		</aside>
