---
import MainLayout from "@/layouts/MainLayout.astro";
import { getCollection } from "astro:content";

export const prerender = true;
export async function getStaticPaths() {
  const vulnerabilities = await getCollection("vulnerabilities");
  return vulnerabilities.map((article) => ({
    params: { id: article.slug },
    props: { article },
  }));
}

const { article } = Astro.props;
const { Content } = await article.render();
---

<MainLayout>
  <div class="prose prose-invert">
    <Content />
  </div>
</MainLayout>
