---
import { Button } from "@/components/ui/button";
---

<div class="w-full text-center mb-2">
  <h3 class="text-tertiary font-semibold text-lg">
    {"Keynote (Google I/O '18)"}
  </h3>
</div>
<div class="w-full my-4">
  <lite-youtube id="yt-iframe" videoid="XEzRZ35urlk"></lite-youtube>
</div>
<div class="w-full flex justify-around my-2">
  <a
    href={"#"}
    target="_blank"
    rel="noopener noreferrer"
    class="w-64 h-12 text-lg text-white bg-primary rounded-3xl inline-flex items-center justify-center whitespace-nowrap font-medium"
  >
    {"Iniciar test"}
  </a>
  <Button size={"lg"}> Salir </Button>
</div>
