---
interface Props {
  slug: string;
  index: number;
  thumbnail: string;
  title: string;
}

const getColumnSpan = () => {
  if (index <= 3) return "col-span-6 sm:col-span-6 md:col-span-3";
  if (index <= 12) return "col-span-6 sm:col-span-4 md:col-span-4";
  if (index > 12) return "col-span-6 sm:col-span-6 md:col-span-3";
  return "";
};

const { slug, title, thumbnail, index } = Astro.props;
---

<div class={`${getColumnSpan()} cursor-pointer`}>
  <a href={`/blog/${slug}`} class="w-full">
    <div class="group relative">
      <span class="relative w-full">
        <img
          class="clip-container object-cover object-center"
          src={thumbnail ?? ""}
          alt="noticia destacada"
        />
      </span>
      <span
        class="absolute bottom-0 flex w-full items-center justify-start clip-container bg-black bg-opacity-70 py-4"
      >
        <h3
          class={`mx-3 my-2 truncate text-start text-lg font-semibold text-white group-hover:w-full group-hover:overflow-visible group-hover:text-clip group-hover:whitespace-normal md:text-xl lg:text-2xl`}
        >
          {title}
        </h3>
      </span>
    </div>
  </a>
</div>
